:root {
    --textcolor: white;
    --backgroundcolor: #282828;
    --backgroundcolor2: #121212;
    --accentcolor: #6495ED;
}

body {
    background-color: var(--backgroundcolor);
    color: var(--textcolor);
    margin: 0;
    font-family: sans-serif;
    /*Alignment*/
    text-align: center;
    align-items: center;
}
a, a:visited {
    color: var(--accentcolor);
}
#navbar, footer {
    background-color: var(--backgroundcolor2);
    padding: 1em;
}